*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$primaryFont: 'Montserrat',
sans-serif;

$primaryColor: #2ed8bb;

$greyDark: #121416;
$grey: #181c1f;
$greyLight: #1d2227;

$white: #ffffff;
$whiteDark: rgba(255, 255, 255, 0.8);

$bp-1200: 75em; //1200px
$bp-1000: 62.5em; //1000px
$bp-900: 56.25em; //900px
$bp-700: 43.75em; //700px
$bp-600: 37.5em; //600px
$bp-480: 30em; //480px
$bp-400: 25em; //400px
$bp-300: 18.75em; //300px

// @media only screen and (max-width: $bp-1200) {

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: $greyDark;
    padding-bottom: 5rem;
}

input {
    border-style: none;
    border-radius: 10px;

    width: 55rem;
    padding: 2rem;

    font-family: $primaryFont;
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-600) {
        width: 45rem;
    }

    @media only screen and (max-width: $bp-480) {
        width: 40rem;
    }

    @media only screen and (max-width: $bp-400) {
        width: 30rem;
    }
}

.container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $primaryColor;
        font-family: $primaryFont;
        font-size: 4rem;
        letter-spacing: 3px;
        text-align: center;

        padding: 5rem;

        @media only screen and (max-width: $bp-400) {
            padding: 5rem 0;
        }
    }

    &__todoInput {
        position: relative;
    }
}

#warning {
    color: $white;
    font-family: $primaryFont;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;

    background-color: $primaryColor;
    padding: 1rem;
    border-radius: 5px;

    top: 1rem;

    display: none;
    opacity: 1;

    position: absolute;

    left: 6.9rem;
    top: 6rem;

    @media only screen and (max-width: $bp-600) {
        left: 1.9rem;
    }

    @media only screen and (max-width: $bp-480) {
        left: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;

        border-left: 2.5rem solid transparent;
        border-right: 2.5rem solid transparent;
        border-bottom: 4rem solid $primaryColor;

        top: -4rem;
        left: 17.6rem;
    
        @media only screen and (max-width: $bp-480) {
            left: 17.6rem;
        }

        @media only screen and (max-width: $bp-400) {
            left: 12.6rem;
        }
    }
}

.todoItem {
    color: $white;
    font-family: $primaryFont;
    font-size: 1.6rem;
    text-align: center;

    background-color: $greyLight;

    margin-top: 1rem;
    padding: 1rem 2rem;
    width: 55rem;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-600) {
        width: 45rem;
    }

    @media only screen and (max-width: $bp-480) {
        width: 40rem;
    }

    @media only screen and (max-width: $bp-400) {
        width: 30rem;
    }

    p {
        word-wrap: break-word;
        width: 40rem;

        @media only screen and (max-width: $bp-600) {
            width: 30rem;
        }
    
        @media only screen and (max-width: $bp-480) {
            width: 25rem;
        }
    
        @media only screen and (max-width: $bp-400) {
            width: 15rem;
        }
    }

    &_check {
        color: $primaryColor;
        font-size: 3rem;
        cursor: pointer;
    }

    &_delete {
        color: #ed5e68;
        font-size: 3rem;
        cursor: pointer;
    }
}

.completed {
    text-decoration: line-through;
    color: $whiteDark;
}